body {
    font-family: 'Signika', 'calibri';
    font-size: 18px;
    color: #444;
}

/* ------------------------------------------------------ SHARED STYLE ------ */

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .1em;
}

h1, h2, h3 {
    color: #ee6e73;
    margin: 5rem 0 3rem 0;
}

h4 {
    margin: 3rem 0 2rem 0;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------ HEADER ------ */

nav ul a,
.button-collapse {
    color: #444;
}

.nav-sizing {
    height: 100px;
}

p {
    line-height: 2rem;
}

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        line-height: 100px;
    }
}

/* -------------------------------------------------------------- FOOTER ------ */

ul:not(.browser-default)>li {
    list-style-type: none;
    display: inline;
}

.icon-style {
    font-size: 30px;
    margin-right: 30px;
    color: #444;
}

.page-footer {
    margin: 0;
}

footer ul {
    margin-bottom: 30px
}

#copyright-color {
    color: #444;
}

i.fa.fa-facebook.icon-style:hover {
    color: #3b5998;
}

i.fa.fa-instagram.icon-style:hover {
    color: #C13584;
}

i.fa.fa-youtube-play.icon-style:hover {
    color: #FF0000;
}

i.fa.fa-pinterest-p.icon-style:hover {
    color: #c8232c;
}

i.fa.fa-twitter.icon-style:hover {
    color: #00acee;
}

/* -------------------------------------------------------------- HOME ------ */

img.parallax-img-size {
    height: 100vh;
}

.card-img {
    max-width: 100%;
    padding: 25px;
}

.text-parallax {
    background-color: white;
    color: black;
}

a.anchor-title {
    color: #444;
}

a.anchor-title:hover {
    color: #ee6e73;
}

/* ----------------------------------------------------------- RECIPES ------ */

.headline-carousel {
    margin-bottom: 20px;
    color: #ee6e73;
}

.carousel.initialized {
    margin-top: -50px;
}

.category-box {
    margin: auto !important;
}

/* ------------------------------------------------------------- ABOUT ------ */

.container-section {
    padding: 20px 30px;
    margin: 50px auto;
}

/* ------------------------------------------------ RECIPE DESCRIPTION ------ */

#recipe-indicator {
    margin-bottom: 40px;
}

i.fa.fa-shopping-basket {
    font-size: 25px;
}

ul.list-styling>li {
    list-style-type: disc;
    display: list-item;
}

i.fa.fa-shopping-basket {
    color: #ee6e73;
}

/* ---------------------------------------------------- ADD NEW RECIPE ------ */

.add-spacing {
    margin: 50px auto;
}

.recipe-elements {
    padding: 0px 25px;
}

button#add-instructions, button#add-ingredients {
    float:right;
}

.btn, .btn-large {
    background-color: #ee6e73cc;
}

.btn:hover, .btn-large:hover {
    background-color: #ee6e73;
}

/* ---------------------------------------------------------- 404 PAGE ------ */

.not-found-gif {
    margin-top: 10px;
}

.not-found-icon {
    color: #ee6e73;
}

.not-found-title {
    font-weight: 800;
}

/* -------------------------------DEFAULT SETTINGS / MATERIALIZE THEME ------ */

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}