{% extends 'general/base.html' %} 
{% block content %}

<div class="container center-align">
    <div class="row">
        <div class="col s12 offset-m2 m8">
            <img class="responsive-img not-found-gif" src="https://cdn.dribbble.com/users/422783/screenshots/3738665/dribfinal.gif" alt="404 Page Not Found Gif">
        </div>
        <div class="col s12">
            <i class="large material-icons not-found-icon">report_problem</i>
            <h4 class="not-found-title">PAGE NOT FOUND</h4>
            <p> Sorry, this page does not exist!</p>
            {% if session["email"] %}
                <a class="btn waves-effect waves-light" href="{{url_for('account')}}"> MY ACCOUNT <i class="material-icons right">autorenew</i>   
                </a>
            {% else %}
                <a  class="btn waves-effect waves-light" href="{{url_for('home')}}"> GO HOME <i class="material-icons right">autorenew</i>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}