{% extends 'general/base.html' %} 
{% block content %}

<div class="container center-align">
    <div class="row">
        <div class="col s12 offset-m2 m8">
            <img class="responsive-img not-found-gif" src="https://cdn.dribbble.com/users/107759/screenshots/3756455/cake.gif" alt="Access Denied Gif">
        </div>
        <div class="col s12">
            <h4 class="not-found-title">ACCESS DENIED!</h4>
            <p> Sorry, you need to be logged in to access this page!</p>
            <a class="btn waves-effect waves-light" href="{{url_for('login')}}"> LOG IN </a>
            <a class="btn waves-effect waves-light" href="{{url_for('signup')}}"> SIGN UP </a>
        </div>
    </div>
</div>

{% endblock %}