{% extends 'general/base.html' %} 
{% block content %}

<!-- Recipes -->

<div class="container container-section">
  <h3 class="center-align">OUR RECIPES</h3>
</div>

<!-- Image cards -->
<div class="row">
  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/home/img1.jpg')}}" alt="Img1"></img>
  </div>
  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/home/img2.jpg')}}" alt="Img2"></img>
  </div>
  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/home/img3.jpg')}}" alt="Img3"></img>
  </div>
</div>

<div class="container container-section">
  <a class="anchor-title" href="{{url_for('explore')}}">
    <h5 class="center-align">EXPLORE RECIPES</h5>
    <hr class="border-bottom">
  </a>
</div>

<!-- Cookbook -->

<div class="container container-section">
  <h3 class="center-align">ONLINE COOKBOOK</h3>
</div>

<div class="parallax-container valign-wrapper">
  
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center-align text-parallax">
        <h5 class="header col s12 light">Store your favorite recipes, add new recipes and contribute to the community!</h5>
      </div>
    </div>
  </div>
  
  <div class="parallax">
    <img class="parallax-img-size" src="{{url_for('static', filename='img/home/bg2.jpg')}}" alt="Cookbook">
  </div>
  
</div>

<div class="container container-section">
  <a class="anchor-title" href="{{url_for('signup')}}">
    <h5 class="center-align">JOIN US</h5>
    <hr class="border-bottom">
</a>
</div>

<!-- About us -->

<div class="container container-section">
  <h3 class="center-align">ABOUT US</h3>
</div>

<div class="parallax-container valign-wrapper">

  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center-align text-parallax">
        <h5 class="header col s12 light">The pâtisserie Journal is an open-free recipes ressource created by two French sisters.</h5>
      </div>
    </div>
  </div>

  <div class="parallax">
    <img class="parallax-img-size" src="{{url_for('static', filename='img/home/bg3.jpg')}}" alt="About">
  </div>

</div>

<div class="container container-section">
  <a class="anchor-title" href="{{url_for('about')}}">
    <h5 class="center-align">LEARN MORE</h5>
    <hr class="border-bottom">
</a>
</div>

{% endblock %}
