{% extends 'general/base.html' %}
{% block content %}

<div class="container center-align">

    <h4>SIGN UP HERE</h4>
    
    <!-- Display form to sign up -->
    <div class="row">
        
        <form action="{{ url_for('insert_user_account') }}" method="POST" class="col s12">

            <!-- This tag is to secure our form -->
            {{ form.hidden_tag() }}
            
            <!-- First name -->
            <div class="row">
                <div class="input-field col s12">
                    {{ form.first_name.label() }}
                    <!-- Display feedback to the user if this field is missing -->
                    {% if form.first_name.errors %} 
                        {{ form.first_name(class="validate") }}
                        <div>
                            {% for error in form.first_name.errors %}
                                <span> {{ error }} </span> 
                                {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.first_name(class="validate") }} 
                    {% endif %}
                </div>
            </div>
            
            <!-- Last name -->
            <div class="row">
                <div class="input-field col s12">
                    {{ form.last_name.label() }}
                    <!-- Display feedback to the user if this field is missing -->
                    {% if form.last_name.errors %} 
                        {{ form.last_name(class="validate") }}
                        <div>
                            {% for error in form.last_name.errors %}
                            <span> {{ error }} </span> 
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.last_name(class="validate") }} 
                    {% endif %}
                </div>
            </div>
            
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    {{ form.email.label() }}
                    <!-- Display feedback to the user if email is wrongly formatted -->
                    {% if form.email.errors %} 
                        {{ form.email(class="validate") }}
                    <div>
                        {% for error in form.email.errors %}
                        <span> {{ error }} </span> 
                        {% endfor %}
                    </div>
                    {% else %} 
                        {{ form.email(class="validate") }} 
                    {% endif %}
                </div>
            </div>
            
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    {{ form.password.label() }}
                    <!-- Display feedback to the user if this field is missing -->
                    {% if form.password.errors %} 
                        {{ form.password(class="validate") }}
                        <div>
                            {% for error in form.password.errors %}
                                <span> {{ error }} </span> 
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.password(class="validate") }} 
                    {% endif %}
                </div>
            </div>
            
            <!-- Confirm password -->
            <div class="row">
                <div class="input-field col s12">
                    {{ form.confirm_password.label() }}
                    <!-- Display feedback to the user if passwords do not match -->
                    {% if form.confirm_password.errors %} 
                        {{ form.confirm_password(class="validate") }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <span> {{ error }} </span> 
                            {% endfor %}
                        </div>
                    {% else %} 
                        {{ form.confirm_password(class="validate") }} 
                    {% endif %}
                </div>
            </div>
            
            <!-- Button -->
            <div class="row">
                {{ form.submit(class="btn waves-effect waves-light") }}
            </div>

        </form>
        
    </div>

    <div>
        <small>
            Already Have An Account? <a class="ml-2" href="{{url_for('login')}}">Log In</a>
        </small>
    </div>

</div>

{% endblock %}
