{% extends 'general/base.html' %}
{% block content %}

<div class="container center-align">

    <h4>SIGN UP HERE</h4>
    
    <!-- Display form to sign up -->
    <div class="row">
        
        <form action="{{ url_for('insert_user_account') }}" method="POST" class="col s12">

            <div class="row">

                <!-- First name -->
                <div class="input-field col s12">
                    <input id="first_name" name="first_name" type="text" class="validate" minlength="1" maxlength="50" required>
                    <label class="active" for="first_name" data-error="*required" data-success="validated">First Name<span class="red-text">*</span></label>
                </div>
            
                <!-- Last name -->
                <div class="input-field col s12">
                    <input id="last_name" name="last_name" type="text" class="validate" minlength="1" maxlength="50" required>
                    <label class="active" for="last_name" data-error="*required" data-success="validated">Last Name<span class="red-text">*</span></label>
                </div>
            
                <!-- Email -->
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label class="active" for="email" data-error="*required & email format" data-success="validated">Email<span class="red-text">*</span></label>
                </div>
            
                <!-- Password -->
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label class="active" for="password" data-error="*required" data-success="validated">Password<span class="red-text">*</span></label>
                </div>
            
                <!-- Confirm password -->
                <div class="input-field col s12">
                    <input id="confirm-password" name="confirm-password" type="password" class="validate" required>
                    <label class="active" for="confirm-password" data-error="*required" data-success="validated">Confirm Password<span class="red-text">*</span></label>
                </div>               
            
                <!-- Button -->
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">SIGN UP</button>
                </div>

            </div>

        </form>
        
    </div>

    <div>
        <small>
            Already Have An Account? <a class="ml-2" href="{{url_for('login')}}">Log In</a>
        </small>
    </div>

</div>

{% endblock %}
