{% extends 'base.html' %} 
{% block content %}

<div class="container center-align">

    <h4>MY ACCOUNT DETAILS</h4>

    <div class="row">

        <div class="input-field col s6">
            <input disabled value="{{ account.first_name }}" id="disabled" type="text" class="validate">
            <label for="disabled">First Name</label>
        </div>

        <div class="input-field col s6">
            <input disabled value="{{ account.last_name }}" id="disabled" type="text" class="validate">
            <label for="disabled">Last Name</label>
        </div>

        <div class="input-field col s12">
            <input disabled value="{{ account.email }}" id="disabled" type="text" class="validate">
            <label for="disabled"> Email address</label>
        </div>
        
    </div>

    <div class="row">
        
        <div class="col s6">
            <a href="#">
                <button href = "" class="btn waves-effect waves-light" type="submit" name="action">Edit Details
                    <i class="material-icons right">assignment_ind</i>
                </button>
            </a>
        </div>
        
        <div class="col s6">
            <a href="{{url_for('edit_password')}}">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit Password
                    <i class="material-icons right">vpn_key</i>
                </button>
            </a>
        </div>
        
    </div>

</div>

{% endblock %}
