<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Pâtisserie Cookbook</title>

    <!-- MATERIALIZE LIBRARIES -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- CSS FILE -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>

    <header>

        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('home')}}" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons left">search</i>EXPLORE</a></li>
                    <li><a href="{{url_for('recipes')}}">RECIPES</a></li>
                    <li><a href="">COOKBOOK</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="{{url_for('account')}}">MY ACCOUNT</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href=""><i class="material-icons left">search</i>EXPLORE</a></li>
                    <li><a href="{{url_for('recipes')}}">RECIPES</a></li>
                    <li><a href="">COOKBOOK</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="{{url_for('account')}}">MY ACCOUNT</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <h1> This text is outside! In the base! </h1>
    {% block content %} {% endblock %}

    <!-- jQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- MATERIALIZE SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</body>

</html>
