{% extends 'base.html' %} {% block content %}


<!--   SECTION 1   -->

<div class="container section-container">
  <h3 class="center-align">Our Recipes</h3>
  <div class="row center">
    <div class="col s4"> <img class="card-img" src="{{url_for('static', filename='img/brownie.jpg')}}"></img>
    </div>
    <div class="col s4"><img class="card-img" src="{{url_for('static', filename='img/pancakes-berries.jpg')}}"></img>
    </div>
    <div class="col s4"><img class="card-img" src="{{url_for('static', filename='img/smoothie-berries.jpg')}}"></img>
    </div>
  </div>
  <h5 class="center-align">Explore recipes</h5>
</div>


<!--   SECTION 2   -->

<div class="container">
  <h3 class="center-align">Online Cookbook</h3>
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax"><img class="parallax-img-size" src="{{url_for('static', filename='img/cookbook-bg.jpg')}}" alt="Cookbook Background"></div>
</div>
<div class="container section-container">
  <p class="center-align light">Create your own online cookbook... Store your favorite recipes, add new recipes and contribute to the community!</p>
  <h6 class="center-align">Register here</h6>
</div>

<!--   SECTION 3   -->

<div class="container">
  <h3 class="center-align">About Us</h3>
</div>
<div class="parallax-container valign-wrapper">
  <div class="parallax"><img class="parallax-img-size" src="{{url_for('static', filename='img/carrot-cake.jpg')}}" alt="Carrot Cake Background"></div>
</div>
<div class="container section-container">
  <p class="center-align light">The pâtisserie Journal is an open-free recipes ressource created by two French sisters. <br> They are very passionate about pâtisserie and wanted to extend it to any kind of diet.</p>
  <h6 class="center-align">More about us</h6>
</div>

{% endblock %}
