{% extends 'base.html' %} 
{% block content %}


<!--   SECTION 1   -->

<h3 class="center-align">OUR RECIPES</h3>

<div class="row center">

  <div class="col s4 category-box">
    <img class="card-img" src="{{url_for('static', filename='img/home/img1.jpg')}}" alt="Img1"></img>
  </div>

  <div class="col s4 category-box">
    <img class="card-img" src="{{url_for('static', filename='img/home/img2.jpg')}}" alt="Img2"></img>
  </div>

  <div class="col s4 category-box">
    <img class="card-img" src="{{url_for('static', filename='img/home/img3.jpg')}}" alt="Img3"></img>
  </div>

  <a href="">
    <h5 class="center-align">EXPLORE RECIPES</h5>
  </a>

</div>

<!--   SECTION 2   -->

<div class="container container-section">
  <h3 class="center-align">ONLINE COOKBOOK</h3>
</div>

<div class="parallax-container valign-wrapper">
  
  <div class="section no-pad-bot">
    
    <div class="container">
      <div class="row center text-parallax">
        <h5 class="header col s12 light">Store your favorite recipes, add new recipes and contribute to the community!</h5>
      </div>
    </div>
    
  </div>
  
  <div class="parallax">
    <img class="parallax-img-size" src="{{url_for('static', filename='img/home/bg2.jpg')}}" alt="Cookbook">
  </div>
  
</div>

<div class="container container-section">
  <a href=""><h5 class="center-align">JOIN US</h5></a>
</div>

<!--   SECTION 3   -->

<div class="container container-section">
  <h3 class="center-align">ABOUT US</h3>
</div>

<div class="parallax-container valign-wrapper">

  <div class="section no-pad-bot">
    
    <div class="container">
      <div class="row center text-parallax">
        <h5 class="header col s12 light">The pâtisserie Journal is an open-free recipes ressource created by two French sisters.</h5>
      </div>
    </div>
    
  </div>

  <div class="parallax">
    <img class="parallax-img-size" src="{{url_for('static', filename='img/home/bg3.jpg')}}" alt="About">
  </div>

</div>

<div class="container container-section">
  <a href=""><h5 class="center-align">LEARN MORE</h5></a>
</div>

{% endblock %}
