{% extends 'base.html' %} 
{% block content %}

<div class="container container-section">
    
    <div class="row center">

        {% if (category.category_name=="Geography" or category.category_name=="Diet" ) %}
        
            {% for item in category.list %}
               <a href=""> <p>{{ item.category_name }}</p> </a>
            {% endfor %}
        
        {% else %}

            {% for item in category.list %}
                <div class="col s6 category-box">
                    <h5 class="center">{{ item.category_name }}</h5>
                    <a href=""><img class="card-img" src="../{{ item.image_path }}" alt="{{ item.category_name }}"></img></a>
                </div>
            {% endfor %}
            
        {% endif %}

    </div>
</div>

<div class="container">
    
    <div class="row center">

        <h5 class="center">Our favourite recipes</h5>
        
        <div class="carousel">
            
            {% for image in carousel %}
            
            <a class="carousel-item" href="#"><img src="../{{ image }}"></a> 
            
            {% endfor %}
        </div>

    </div>
    
</div>


{% endblock %}
