{% extends 'base.html' %} 
{% block content %}

<div class="container container-section">
    
    <div class="row center">

        {% if (category.category_name=="geography" or category.category_name=="diet" ) %}
        
            {% for item in category.list %}
               <a href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}"> <p>{{ item.category_name.capitalize() }}</p> </a>
            {% endfor %}
        
        {% else %}

            {% for item in category.list %}
                <div class="col s6 category-box">
                    <h5 class="center">{{ item.category_name.capitalize() }}</h5>
                    <a href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}"><img class="card-img" src="../{{ item.image_path }}" alt="{{ item.category_name }}"></img></a>
                </div>
            {% endfor %}
            
        {% endif %}

    </div>
</div>

{% endblock %}

{% block carousel %}

<h5 class="center headline-carousel">Our favourite recipes</h5>
        
<div class="carousel">
    {% for image in carousel %}
    <a class="carousel-item" href="#"><img src="../{{ image }}"></a>  
    {% endfor %}
</div>

{% endblock %}
