{% extends 'base.html' %} 
{% block content %}

<div class="row container-section">

    <div class="row center" id="recipe-indicator">
        
        <div class="col s2 offset-s2">Serves {{ recipe.serving }}</div>
        
        <div class="col s2">
            {% for diet in recipe.diets %}
                {{ diet.capitalize() }} 
            {% endfor %}
        </div>
        
        <div class="col s2"><i class="fa fa-clock-o" aria-hidden="true"></i> Prep time</div>
        
        <div class="col s2"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> {{ recipe.difficulty.capitalize() }}</div>
    
    </div>

    <div class="row center">
        <div class="col s6 offset-s3"><img class="card-img" src="../{{recipe.image_path}}" alt="{{recipe.recipe_name}}"></img>
        </div>
    </div>

    <div class="row center">
        <p> {{ recipe.recipe_description.capitalize() }} </p>
    </div>
    
    <div class="row center">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    </div>

    <div class="row center">
        
        <div class="col s4 offset-s3 left-align">
            <h5>Ingredients list</h5>
            <ul class = "list-styling">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.capitalize() }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="col s4 left-align">
            <h5>Cooking tools</h5>
            <ul class = "list-styling">
                {% for tool in recipe.tools %}
                    <li>{{ tool.capitalize() }}</li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

    <div class="row center">
        
        <h5>Preparation steps</h5>
        
        <div class="col s8 offset-s2 left-align">
            <ol>
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction.capitalize() }}</li>
                {% endfor %}
            </ol>
        </div>
        
    </div>
    
</div>

{% endblock %}
