{% extends 'general/base.html' %} 
{% block content %}

<!-- Image cards -->
<div class="row center add-spacing">

  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/explore/img2.jpg')}}" alt="Img1">
  </div>

  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/home/img1.jpg')}}" alt="Img2">
  </div>

  <div class="col s4 category-box">
    <img class="header-img" src="{{url_for('static', filename='img/explore/img3.jpg')}}" alt="Img3">
  </div>

</div>

<div class="row center-align recipe-elements">

    <h4 class="add-spacing">EDIT RECIPE</h4>

    <div class="row">
        
        <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
            
            <div class="row">
                
                <!-- Recipe name -->
                <div class="input-field col s12 m12 l6">
                    <input value="{{ recipe.recipe_name.capitalize() }}" id="recipe_name" name="recipe_name" type="text" class="validate" minlength="1" maxlength="50" data-length="50" required>
                    <label class="active" for="recipe_name" data-error="*required" data-success="validated">Recipe Name<span class="red-text">*</span></label>
                </div>
                
                <!-- Difficulty -->
                <div class="input-field col s12 m6 l3">
                    <select id="difficulty" name="difficulty" class="validate" required>
                        <option value="" disabled> Choose Difficulty</option>
                        {% for cat in difficulty %}
                            {% if cat == recipe.difficulty %}
                            <option value="{{cat}}" selected>{{ cat.capitalize() }}</option>
                            {% else %}
                            <option value="{{cat}}">{{ cat.capitalize() }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="difficulty" data-error="*required" data-success="validated">Recipe Difficulty<span class="red-text">*</span></label>
                </div> 
                
                <!-- Servings -->
                <div class="input-field col s12 m6 l3">
                    <input value="{{ recipe.serving }}" id="serving" name="serving" type="number" min="1" max="15" class="validate" required>
                    <label for="serving" data-error="*required & serving > 0" data-success="validated">Serves<span class="red-text">*</span></label>
                </div>
                
            </div>
            
            <div class="row">
                
                <!-- Description -->
                <div class="input-field col s12 m8">
                    <input value="{{ recipe.recipe_description.capitalize() }}" id="recipe_description" name="recipe_description" type="text" class="validate" minlength="1" maxlength="100" data-length="100">
                    <label class="active" for="recipe_description">Recipe Description - <em>optional</em></label>
                </div>
                
                <!-- Preparation time -->

                <!-- Hours -->
                <div class="input-field col s6 m2">
                    <input value="{{ hours }}" id="hours" name="hours" type="number" min="1" max="24" class="validate">
                    <label for="hours">Hour(s) - <em>optional</em></label>
                </div>
                <!-- Minutes -->
                <div class="input-field col s6 m2">
                    <input value="{{ minutes }}" id="minutes" name="minutes" type="number" min="0" max="59" class="validate" required="required">
                    <label for="minutes" data-error="*required" data-success="validated">Minutes<span class="red-text">*</span></label>
                </div>
                
            </div>
            
            <div class="row">
                
                <!-- Meal Category -->
                <div class="col s12 l6">
                    <p>Meal Category - <em>optional</em></p>
                        {% for cat in meal_categories.list %}
                        <div class="col s6 left-align">
                            {% if cat.category_name in recipe.meal %}
                            <input type="checkbox" id="{{cat.category_name}}" name="meal" value="{{cat.category_name}}" checked="checked" >
                            {% else %}
                            <input type="checkbox" id="{{cat.category_name}}" name="meal" value="{{cat.category_name}}">
                            {% endif %}
                            <label for="{{cat.category_name}}">{{cat.category_name.capitalize()}}</label>
                        </div>
                    {% endfor %}
                 </div> 
                 
                 <!-- Diet -->
                <div class="col s12 l6">
                    <p>Diet - <em>optional</em></p>
                    {% for cat in diet_categories.list %}
                    <div class="col s6 left-align">
                        {% if cat.category_name in recipe.diet %}
                        <input type="checkbox" id="{{cat.category_name}}" name="diet" value="{{cat.category_name}}" checked="checked" >
                        {% else %}
                        <input type="checkbox" id="{{cat.category_name}}" name="diet" value="{{cat.category_name}}">
                        {% endif %}
                        <label for="{{cat.category_name}}">{{cat.category_name.capitalize()}}</label>
                    </div>
                    {% endfor %}
                </div>

            </div>
            
            <div class="row">
                
                <!-- Occasion -->
                <div class="input-field col s12 l6">
                    <select id="occasion" name="occasion" multiple>
                        <option value="" disabled selected>Choose Occasion</option>
                        {% for cat in occasion_categories.list %}
                            {% if cat.category_name in recipe.occasion %}
                            <option value="{{cat.category_name}}" selected >{{cat.category_name.capitalize()}}</option>
                            {% else %}
                            <option value="{{cat.category_name}}">{{cat.category_name.capitalize()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Occasion - <em>optional</em></label>
                </div>
                
                <!-- Geography -->
                <div class="input-field col s12 l6">
                    <select id="geography" name="geography" multiple>
                        <option value="" disabled selected>Choose Geography</option>
                        {% for cat in geography_categories.list %}
                            {% if cat.category_name in recipe.geography %}
                            <option value="{{cat.category_name}}" selected >{{cat.category_name.capitalize()}}</option>
                            {% else %}
                            <option value="{{cat.category_name}}">{{cat.category_name.capitalize()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Geography - <em>optional</em></label>
                </div>

            </div>
            
            <div class="row">
                
                <!-- Allergens -->
                <div class="input-field col s12 l6">
                    <select id="allergen" name="allergen" multiple>
                        <option value="" disabled selected>Choose Allergen(s)</option>
                        {% for cat in allergen_categories.list %}
                            {% if cat in recipe.allergen %}
                            <option value="{{cat}}" selected >{{cat.capitalize()}}</option>
                            {% else %}
                            <option value="{{cat}}">{{cat.capitalize()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Allergens - <em>optional</em></label>
                </div>
                
                <!-- Tools -->
                <div class="input-field col s12 l6">
                    <select id="tool" name="tool" multiple>
                        <option value="" disabled selected>Choose tool(s)</option>
                        {% for cat in tool_categories.list %}
                            {% if cat in recipe.tool %}
                            <option value="{{cat}}" selected >{{cat.capitalize()}}</option>
                            {% else %}
                            <option value="{{cat}}">{{cat.capitalize()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Kitchen tools - <em>optional</em></label>
                </div>

            </div>
            
            <!-- Recipe ingredients -->
            <div class="row">
                <legend for="ingredients">List of Ingredients<span class="red-text">*</span></legend>
                <div class="input-field col s12" id="ingredientsform">
                    {% for ingredient in recipe.ingredients %}
                    <div class="fieldwrapper" id="existingIngredientField{{ loop.index }}">
                        {% if loop.index == 1 %}
                            <textarea id="ingredients" name="ingredients" minlength="1" maxlength="100" data-length="100" class="validate materialize-textarea manual-feedback col s12" required>{{ ingredient }}</textarea>                     
                        {% else %}
                            <textarea id="ingredients" name="ingredients" minlength="1" maxlength="100" data-length="100" class="validate materialize-textarea manual-feedback col s11" required>{{ ingredient }}</textarea>
                            <button class="btn remove-btn col s1" value="-"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>              
                <!-- Add new ingredient -->
                <button class="btn add" id="add-ingredients" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <!-- Alert if last field is missing -->
                <div id="data-error-ingredients" class="col s12 add-item-error">
                    <div class="center-align"> <i class="material-icons">warning</i> Please make sure the last ingredient field is not empty before adding a new one. </div>
                </div>
            </div>
                        
            <!-- Recipe instructions -->
            <div class="row">
                <legend for="instructions">Preparation Steps<span class="red-text">*</span></legend>
                <div class="input-field col s12" id="instructionsform">
                    {% for instruction in recipe.instructions %}
                    <div class="fieldwrapper" id="existingInstructionField{{ loop.index }}">
                        {% if loop.index == 1 %}
                            <textarea id="instructions" name="instructions" minlength="5" maxlength="500" data-length="500" class="validate materialize-textarea manual-feedback col s12" required>{{ instruction }}</textarea>
                        {% else %}
                            <textarea id="instructions" name="instructions" minlength="5" maxlength="500" data-length="500" class="validate materialize-textarea manual-feedback col s11" required>{{ instruction }}</textarea>
                            <button class="btn remove-btn col s1" value="-"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- Add new instruction -->
                <button class="btn add" id="add-instructions" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <!-- Alert if last field is missing -->
                <div id="data-error-instructions" class="col s12 add-item-error">
                    <div class="center-align"> <i class="material-icons">warning</i> Please make sure the last instruction field is not empty before adding a new one. </div>
                </div>
            </div>
            
            <!-- Recipe Image -->
            <div class="row">
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>Change Image</span>
                        
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path" id="image_path" name="image_path" type="text" value="{{recipe.image_path}}">
                    </div>
                </div> 
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit recipe</button>
            </div>

        </form>
        
    </div>

</div>

{% endblock %}
