{% extends 'general/base.html' %} 
{% block content %}

<div id="section-to-print" class="row container-section">

    <div class="fixed-action-btn">
        <!-- Code credit for the use of "javascript:history.back()": Tim from the Code Institute's tutor team -->
        <a class="btn-floating btn-large" href="javascript:history.back()"><i class="material-icons left">refresh</i></a>
    </div>

    <div class="row center-align" id="recipe-indicator">

        <h3 class="add-spacing">{{recipe.recipe_name.upper()}}</h3>
        
        <!-- Servings -->
        <div class="col s12 m3 l2 offset-l2">Serves {{ recipe.serving }}</div>
        
        <!-- Diet -->
        <div class="col s12 m3 l2">
            {% for diet in recipe.diet %}
                {{ diet.capitalize() }} <br>
            {% endfor %}
        </div>
        
        <!-- Preparation time -->
        <div class="col s12 m3 l2"><i class="fa fa-clock-o" aria-hidden="true"></i> 
            {% if hours == "" %}
                {{minutes}} min
            {% elif minutes == 0 %}
                {{hours}}h
            {% else %}
                {{hours}}h{{minutes}} 
            {% endif %}
        </div>
        
        <!-- Difficulty -->
        <div class="col s12 m3 l2"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> {{ recipe.difficulty.capitalize() }}</div>
    
    </div>
    
    <div class="row center-align dont-print">
    
        <h6>Share this recipe!</h6>
    
        <!-- Modal trigger to share recipe on social media -->
        <a class="btn btn-floating pulse modal-trigger" href="#modal1"><i class="material-icons">share</i></a>

        <!-- Print recipe -->
        <a class="btn btn-floating pulse" onclick="myPrintFunction()"><i class="material-icons">print</i></a>

    </div>
    
    <!-- Recipe image -->
    <div class="row center-align">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <img class="header-img" src="{{recipe.image_path}}" alt="{{recipe.recipe_name}}"></img>
        </div>
    </div>
    
    <!-- Recipe description -->
    <div class="row center-align">
        <p> {{ recipe.recipe_description.capitalize() }} </p>
    </div>
    
    <!-- Shopping cart icon -->
    <div class="row center-align">
        <i class="fa fa-shopping-basket " aria-hidden="true"></i>
    </div>

    <div class="row center-align">
        
        <!-- Ingredients -->
        <div class="col s12 m6 l4 offset-l2">
            <h5>Ingredients list</h5>
            <ul class="list-styling">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.capitalize() }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Tools -->
        <div class="col s12 m6 l4">
            <h5>Cooking tools</h5>
            <ul class="list-styling">
                {% for tool in recipe.tool %}
                    <li>{{ tool.capitalize() }}</li>
                {% endfor %}
            </ul>
        </div>
        
    </div>

    <!-- Instructions -->
    <div class="row center-align">
        <h5>Preparation steps</h5>
        <div class="col s12 l8 offset-l2 left-align">
            <ol>
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction.capitalize() }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    
    <!-- Save as favorite -->
    {% if session["email"] %}
        <div class="row center-align dont-print">
            {% if recipe._id in user_favorites %}
                <h6>Remove from favorites?</h6> 
                <a class="btn btn-floating pulse" id="" href="{{url_for('delete_favorite', recipe_id=recipe._id)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
            {% else %}
                <h6>Save as favorite?</h6> 
                <a class="btn btn-floating pulse" id="" href="{{url_for('add_favorite', recipe_id=recipe._id)}}"><i class="fa fa-heart" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    {% endif %}

</div>

<!-- Modal content -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Share this recipe on social media!</h4>
        <p>Click on the below icons to share this recipe.</p>
		<!-- Social media share buttons -->
		<!-- Code snippet from: https://www.addtoany.com/buttons/for/website -->
		<div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://patisserie-cookbook.herokuapp.com/recipe/{{ recipe._id }}" data-a2a-title="recipe.recipe_name"> 
            <a class="a2a_button_facebook icon-margin"></a>
            <a class="a2a_button_twitter icon-margin"></a>
            <a class="a2a_button_pinterest icon-margin"></a>
            <a class="a2a_button_tumblr icon-margin"></a>
            <a class="a2a_button_reddit icon-margin"></a>
            <a class="a2a_button_email icon-margin"></a>
            <a class="a2a_button_whatsapp icon-margin"></a>
		</div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div> 
    </div>
</div>

{% include "partials/carousel.html" %}  

{% endblock %}

{% block script %}

<!-- Script for social media share buttons -->
<script async src="https://static.addtoany.com/menu/page.js"></script>

{% endblock %}