{% extends 'general/base.html' %} 
{% block content %}

<div class="fixed-action-btn">
	<!-- Code credit for the use of "javascript:history.back()": Tim from the Code Institute's tutor team -->
	<a class="btn-floating btn-large" href="javascript:history.back()"><i class="material-icons left">refresh</i></a>
</div>

<!-- Category cards -->
 
{% if (category.category_name=="geography" or category.category_name=="diet" ) %} 
    
    <div class="container-section center-align">
        
        {% for item in category.list %}
            <a class="anchor-title" href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}">
                <p>{{ item.category_name.capitalize() }}</p>
            </a>
        {% endfor %}
    
    </div>

{% else %} 
    
    <div class="row flexbox center-align add-spacing">
        
        {% for item in category.list %}
            <div class="col s12 m6 l4 category-box center-align">
                <a class="anchor-title" href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}">
                    <h5 class="center">{{ item.category_name.capitalize() }}</h5>
                    <img class="card-img" src="../{{ item.image_path }}" alt="{{ item.category_name }}">
                </a>
            </div>
        {% endfor %} 
        
    </div>
        
{% endif %}

{% include "partials/carousel.html" %}

{% endblock %}