{% extends 'general/base.html' %} 
{% block content %}

<!-- Category cards -->

<div class="row flexbox">
    {% for cat in categories %}
    <div class="col s12 m6 l4 category-box">
        <h5 class="center-align">{{ cat.category_name.capitalize() }}</h5>
        <a href="{{url_for('recipes_categories', category_name = cat.category_name )}}"><img class="card-img" src="{{ cat.image_path }}" alt="{{ cat.category_name }}"></img></a>
    </div>
    {% endfor %}
</div>

<h5 class="center-align">See all recipes</h5>

{% endblock %}

{% block carousel %}

<h4 class="center-align headline-carousel">TRY OUR FAVOURITE RECIPES!</h4>
<div class="carousel">
    {% for image in carousel %}
    <a class="carousel-item" href="#"><img src="{{ image }}"></a> 
    {% endfor %}
</div>

{% endblock %}


