{% extends 'general/base.html' %} 
{% block content %}

<!-- Category cards -->
 
{% if (category.category_name=="geography" or category.category_name=="diet" ) %} 
    
    <div class="container-section center-align">
        
        {% for item in category.list %}
            <a class="anchor-title" href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}">
                <p>{{ item.category_name.capitalize() }}</p>
            </a>
        {% endfor %}
    
    </div>

{% else %} 
    
    <div class="row flexbox center-align add-spacing">
        
        {% for item in category.list %}
            <div class="col s12 m6 l4 category-box center-align">
                <h5 class="center">{{ item.category_name.capitalize() }}</h5>
                <a href="{{ url_for('recipes_subcategories', category_name = category.category_name, subcategory_name=item.category_name)}}"><img class="card-img" src="../{{ item.image_path }}" alt="{{ item.category_name }}"></img></a>
            </div>
        {% endfor %} 
        
    </div>
        
{% endif %}

{% endblock %}

{% block carousel %}

<h4 class="center-align headline-carousel">TRY OUR FAVORITE RECIPES!</h4>
<div class="carousel">
    {% for image in carousel %}
    <a class="carousel-item" href="#"><img src="../{{ image }}"></a>  
    {% endfor %}
</div>

{% endblock %}
