{% extends 'general/base.html' %} 
{% block content %}

<!-- Category cards -->

<div class="row flexbox add-spacing">
    {% for cat in categories %}
    <div class="col s12 m6 l4 category-box center-align">
        <a class="anchor-title" href="{{url_for('recipes_categories', category_name = cat.category_name )}}">
            <h5 class="center-align">{{ cat.category_name.capitalize() }}</h5>
            <img class="card-img" src="{{ cat.image_path }}" alt="{{ cat.category_name }}">
        </a>
    </div>
    {% endfor %}
</div>

{% include "partials/carousel.html" %}

{% endblock %}