{% extends 'base.html' %} 
{% block content %}

<div class="container center-align">

    <h4>UPDATE YOUR PASSWORD</h4>

    <div class="row">
        
        <form action="" method="POST" class="col s12">
            {{ form.hidden_tag() }}
            
            <div class="row">
                <div class="input-field col s12">

                    {{ form.current_password.label() }}

                    <!-- Display feedback to the user if this field is missing -->
                    {% if form.current_password.errors %} 
                        {{ form.current_password(class="validate") }}

                        <div>
                            {% for error in form.current_password.errors %}
                                <span> {{ error }} </span> 
                            {% endfor %}
                        </div>

                    {% else %} 
                        {{ form.current_password(class="validate") }} 
                    {% endif %}

                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">

                    {{ form.new_password.label() }}

                    <!-- Display feedback to the user if this field is missing -->
                    {% if form.new_password.errors %} 
                        {{ form.new_password(class="validate") }}

                        <div>
                            {% for error in form.new_password.errors %}
                                <span> {{ error }} </span> 
                            {% endfor %}
                        </div>

                    {% else %} 
                        {{ form.new_password(class="validate") }} 
                    {% endif %}

                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">

                    {{ form.confirm_new_password.label() }}

                    <!-- Display feedback to the user if passwords do not match -->
                    {% if form.confirm_new_password.errors %} 
                    
                        {{ form.confirm_new_password(class="validate") }}

                        <div>
                            {% for error in form.confirm_new_password.errors %}
                                <span> {{ error }} </span> 
                            {% endfor %}
                        </div>

                    {% else %} 
                        {{ form.confirm_new_password(class="validate") }} 
                    {% endif %}

                </div>
            </div>

            <div class="row">
                {{ form.submit(class="btn waves-effect waves-light") }}
            </div>

        </form>
        
    </div>

</div>

{% endblock %}