{% extends 'general/base.html' %} 
{% block content %}

<div class="container center-align">

    <h4>UPDATE YOUR PASSWORD</h4>
    
    <!-- Display form to edit password -->
    <div class="row">
        
        <form method="POST" class="col s12">
            
            <div class="row">

                <!-- Current password -->
                <div class="input-field col s12">
                    <input id="current_password" name="current_password" type="password" class="validate" required>
                    <label class="active" for="current_password" data-error="*required" data-success="validated">Current Password<span class="red-text">*</span></label>
                </div>
            
                <!-- New password -->
                <div class="input-field col s12">
                    <input id="new_password" name="new_password" type="password" class="validate" required>
                    <label class="active" for="new_password" data-error="*required" data-success="validated">New Password<span class="red-text">*</span></label>
                </div>
            
                <!-- Confirm new password -->
                <div class="input-field col s12">
                    <input id="confirm_new_password" name="confirm_new_password" type="password" class="validate" required>
                    <label class="active" for="confirm_new_password" data-error="*required" data-success="validated">Confirm New Password<span class="red-text">*</span></label>
                </div>
            
                <!-- Button -->
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">UPDATE PASSWORD</button>
                </div>

            </div>

        </form>
        
    </div>

</div>

{% endblock %}